body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
.logo {
    width: 300px;
    height: 100px;
    background-color: #fa7559;
    border-radius: 10px;
    margin: 10px;
}
.slider {
    height: 200px;
    min-width: 300px;
    background-color: #47dee6;
    border-radius: 10px;
    margin: 10px;
}
.content {
    display: flex;
}
.article {
    border-radius: 10px;
    margin: 10px;
}
.img {
    height: 200px;
    background-color: #b3b3b3;
    border-radius: 10px;
    margin-bottom: 10px;
}
.text {
    color: #b3b3b3;
    text-align: justify;
    font-size: 16px;
}
.desktop {
    display: none;
}
@media screen and (min-width:640px) {
    .slider {
        height: 300px;
        margin-top: 30px;
    }
}
@media screen and (min-width:770px) {
    .desktop {
       display: block;
    }
}

